#main
= render :partial => 'welcome/header'
-# Intro
= render :partial => 'welcome/intro'
-# Travel & Stay
= render :partial => 'welcome/travel'
-# Wedding Events
= render :partial => 'welcome/wedding_events'
-# Registry & RSVP
= render :partial => 'welcome/registry'
-# Things to Do/Our Favorites
= render :partial => 'welcome/our_favorites'
