<!DOCTYPE html>
<html>
	<head>
		<title>Sam & Maggie - August 2022</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%=
		javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/athena" rel="stylesheet">
	</head>

	<body>
		<%= yield %>
	</body>
</html>
